{% load i18n %}

<nav class="ui menu">
  <a class="item" href="{% url 'home' %}">
    Home
  </a>
  <div class="right menu">
    {% if user.is_authenticated %}
    <a class="item profile" href="{% url 'profile' %}">
      {% trans 'Profile' %}
    </a>
    <a class="item logout" href="{% url 'logout' %}">
      {% trans 'logout' %}
    </a>
    {% else %}
    <a class="item login" href="{% url 'login' %}">
      {% trans 'login' %}
    </a>
    <a class="item register" href="{% url 'register' %}">
      {% trans 'register' %}
    </a>
    {% endif %}
  </div>
</nav>