{% extends 'base.html' %}
{% load message_tags %}

{% block layout %}
  {% block nav %}
    {% include "nav.html" %}
  {% endblock nav %}

{% block header %}
  <header>
    {% include "header.html" %}
  </header>
{% endblock header %}

<div class="main-container">
  {% block message %}
    {% if messages %}
    <div class="messages">
      {% for message in messages %}
      <div class="ui message {% message_class message.tags %}">
        <i class="close icon"></i>
        {{ message }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  {% endblock message %}

  {% block content %}
  {% endblock content %}
</div>
{% endblock layout %}